* {
  scroll-behavior: smooth;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pedidos-atalho {
  display: flex;
  flex-direction: column;
}

.pedidos-atalho a {
  background: #50535c;
}

.pedidos-atalho .ativo {
  text-decoration: underline;
}

.pedidos-atalho a:hover {
  background: #454750;
}

.pedidos {
  margin-bottom: 2rem;
}

.pedidos h1 {
  background: linear-gradient(to left, #a55ffc, #7d2cde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.lista-pedidos {
  display: grid;
  gap: 5rem;
  margin: 0 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 15px;
  max-width: 28.125rem;
  padding: 2rem;
  border: 1px solid #d1d1d1;
  /* -webkit-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75); */
}

.card .title {
  text-decoration: underline #7d2cde;
  font-size: 20px;
}

.card a {
  color: #3498db;
}

.card .card-links {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card .integrante {
  border-bottom: 1px solid #d1d1d1;
}

.card .integrante:nth-child(n):last-child {
  border-bottom: none;
}

.card-botoes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-botoes button {
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1.25rem;
  padding: 0.75rem 0;
  width: 40%;
}

.card-botoes .botao-aceitar {
  background: #7d2cde;
}

.card-botoes .botao-recusar {
  background: #333333;
}

@media (max-width: 1350px) {
  .lista-pedidos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1020px) {
  .lista-pedidos {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .lista-pedidos {
    margin: 0 2rem;
  }
}
