body {
  margin: 0;
  padding: 0;
  font: 1rem "Mont-serrat", sans-serif;
}

/* Header - Navbar */
.header {
  height: 100vh;
  width: 10rem;
  background: #3f424c;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.header-figure {
  margin: 0;
  padding: 0;
}

.header-figure img {
  width: 6rem;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #3f424c;
}

.nav a {
  width: 100%;
  text-decoration: none;
  color: #dde5ed;
  padding: 1.25rem 0;
}

.nav a span {
  margin-left: 1rem;
}

.nav a:hover {
  background: #3b3d46;
}

.nav a.aberto {
  background-color: #33363f;
  text-decoration: underline #dde5ed;
}

.hamb-bg {
  padding: 1rem 0.25rem;
  cursor: pointer;
  display: none;
}

.hamb {
  margin: none;
  border: none;
  padding: none;
  position: relative;
  width: 1.75rem;
  height: 0.1rem;
  background: #dde5ed;
  transition: 300ms ease-in-out;
}

.hamb::before,
.hamb::after {
  content: "";
  position: absolute;
  width: 1.75rem;
  height: 0.1rem;
  background: #dde5ed;
  transition: 300ms ease-in-out;
}

.hamb::before {
  top: -10px;
}

.hamb::after {
  top: 10px;
}

.hamb.ativo {
  background: transparent;
}

.hamb.ativo::before {
  transform: rotate(45deg);
  top: 0;
}

.hamb.ativo::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Main */
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-section {
  margin-left: 10rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  /* Header - Navbar */
  .header {
    height: 2rem;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .nav {
    position: absolute;
    width: 15rem;
    left: -500px;
    top: 5rem;
    transition: 500ms ease-in-out;
  }

  .nav.ativo {
    left: 0;
  }

  .header-figure {
    margin-right: 2rem;
  }

  .hamb-bg {
    display: block;
    margin-left: 2rem;
  }

  /* Main */
  .main-section {
    margin-left: 0;
    margin-top: 5rem;
  }
}
